.login-form-container {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.login-form-container > form {
  overflow: hidden;
  box-sizing: border-box;
  margin: 2vmax auto;
  width: 35%;
  min-width: 380px;
  height: 60vh;
  padding: 3vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.login-form-container > form > a {
  color: rgb(76, 76, 216);
  cursor: pointer;
  margin-left: auto;
  text-decoration: none;
  margin-right: 10px;
}
.login-form-container > form > a:hover {
  color: blue;
}
.login-form-container > form > Button {
  /* backgroundColor:"orangered";width:"100%",margin:"10px 0px" */
  background-color: rgb(5, 135, 241);
  width: 100%;
  margin: 10px 0px;
  transition: 0.5s ease all;
  color: white;
  margin-top: 15px;
}
.login-form-container > form > Button:hover {
  background-color: rgb(36, 95, 143);
}
.login-form-container > form > input {
  width: 100%;
  height: 40px;
  min-height: 12%;
  padding: 0px 20px;
  margin: 2vmax 0px;
  outline: none;
  font-size: 1.1rem;
  border-radius: 50px;
  border: none;
  border: 1px solid rgb(5, 135, 241);
}
.login-absolute-1 {
  position: absolute;
  width: 800px;
  z-index: -1;
  height: 800px;
  top: -300px;
  right: -200px;
  transform: rotate(40deg);
  background-color: rgb(36, 95, 143);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.5s ease all;
}
.login-absolute-2 {
  position: absolute;
  width: 400px;
  z-index: -2;
  height: 400px;
  top: -180px;
  left: -81px;
  transition: 0.5s ease all;

  transform: rotate(40deg);
  background-color: rgb(108, 186, 250);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.login-absolute-3 {
  display: none;
}
.login-absolute-4 {
  display: none;
}

@media screen and (max-width: 700px) {
  .login-absolute-1 {
    position: absolute;
    width: 450px;
    z-index: -1;
    height: 400px;
    top: -180px;
    right: -150px;
    transform: rotate(40deg);
    background-color: rgb(36, 95, 143);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .login-absolute-2 {
    position: absolute;
    width: 300px;
    z-index: -2;
    height: 310px;
    top: -180px;
    left: -81px;
    transform: rotate(40deg);
    background-color: rgb(36, 95, 143);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .login-absolute-3 {
    position: absolute;
    width: 40px;
    z-index: -2;
    height: 40px;
    bottom: 100px;
    display: block;
    left: 100px;
    transition: 0.5s ease all;

    transform: rotate(40deg);
    background-color: rgb(0, 93, 168);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .login-absolute-4 {
    position: absolute;
    width: 200px;
    z-index: -2;
    height: 200px;
    bottom: -70px;
    display: block;
    left: -70px;
    transition: 0.5s ease all;

    transform: rotate(40deg);
    background-color: rgb(8, 126, 223);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
}
@media screen and (max-width: 600px) {
  .login-form-container > form {
    padding: 1vmax;
    width: 100%;
    margin: 0px 10px;
  }
}
