.usercard {
  width: 100%;
  padding: 1vmax;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: .5vmax 0px;
  transition: .4s ease all;
}
.usercard:hover{
 background-color: rgb(223, 220, 220);
}
.usercard > a {
  text-decoration: none;
  display: flex;
  color: black;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 450px) {
  .usercard {
    justify-content: flex-start;
    min-height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  }
}
