.usercard {
  border: 1px solid rgba(0, 0, 0, 0.253);
  width: 300px;
  text-align: center;
  margin: 0.5vmax 0vmax;
  border-radius: 5px;
}
.usertext {
  font-size: 1, 2vmax;
}

@media screen and (max-width: 600px) {
  .usercard {
    border: 1px solid rgba(0, 0, 0, 0.253);
    width: 300px;
    text-align: center;
    margin: 0.5vmax 0vmax;
    margin-right: 0px;
  }
}
