.commentUser {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.507);
    background-color: rgb(202, 200, 200);
    position: relative;
    border-radius: 20px;
  }

  .commentUser > a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-items: center;
    align-self: flex-start;
    transition: all 0.5s;
  }
  .commentUser img {
    height: 4vmax;
    width: 4vmax;
    margin: 1vmax;
    border-radius: 100%;
    border: 3px solid rgb(255, 201, 201);
  }
  .commentOfUser{
    padding:0vmax 2vmax;
    text-align: start;
  }
  .commentUser > a:hover {
    transform: translateY(-10px);
  }
  
  .commentUser > button {
    color: red;
  }

  @media screen and (max-width: 600px) {
    .commentUser img {
      height: 5.5vmax;
      width: 5.5vmax;
      margin: 1vmax;
      border-radius: 100%;
      border: 3px solid rgb(255, 201, 201);
    }
  }