.Signle-Chat-Section {
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 4vmax);
  position: fixed;
  top: 4vmax;
}
/* @media screen and (max-width: 800px) {
  .Signle-Chat-Section {
    width: 100vw;
    max-width: 100%;
    height: 95.6vh;
  }
} */
@media screen and (max-width: 600px) {
  .Signle-Chat-Section {
    top: 7vmax;
    height: calc(100vh - 7vmax);
}
}
@media screen and (max-width: 500px) {
    .Signle-Chat-Section {
        top: 6vmax;
        height: calc(100vh - 6vmax);
    }
}
@media screen and (max-width: 530px) {
    .Signle-Chat-Section {
        top: 5vmax;
        height: calc(100vh - 5vmax);
    }
}
@media screen and (max-width: 380px) {
    .Signle-Chat-Section {
        top: 4.5vmax;
        height: calc(100vh - 4.5vmax);
    }
}
