.account {
  box-sizing: border-box;
  display: flex;
  /* grid-template-columns: 1fr 400px; */
  flex-direction: column-reverse;
  /* height: 92vh; */
  position: relative;
}

.accountleft {
  background-image: linear-gradient(to right, #fff5bc, #cec1ff);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax 25vmax;
  box-sizing: border-box;
  /* overflow-y: auto; */
}
.accountright {
  padding: 2vmax;
  box-sizing: border-box;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.HoverAnimation:hover {
  transform: scale(1.1);
}

.HoverAnimation {
  height: 12vmax !important;
  width: 12vmax !important;
  transition: all 0.5s;
  border: 4px solid white;
}
.HoverAnimation > img {
  height: 12vmax !important;
  width: 12vmax !important;
}

.accountright > h5 {
  margin: 2vmax;
}

.accountright > a {
  color: rgb(73, 73, 73);
  text-decoration: none;
  font: 100 1.2rem "Roboto";
  text-align: center;
  margin-top: 2vmax;
  padding: 0.5vmax 1vmax;
  transition: all 0.5s;
}

.accountright > a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}
.rightDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountright > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  text-align: center;
}

.accountright > .rightDiv > div > button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}
.accountright > .rightDiv > div > button {
  border: none;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.5vmax 1vmax;
}
.CoverPicDiv {
  width: 100vw;
  max-width: 100%;
  height: 280px;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1100px) {
  .HoverAnimation {
    height: 14vmax !important;
    width: 14vmax !important;
  }
  .HoverAnimation > img {
    height: 14vmax !important;
    width: 14vmax !important;
  }
}
@media screen and (max-width: 900px) {
  .accountleft {
    padding: 5vmax;
  }
  .HoverAnimation {
    height: 16vmax !important;
    width: 16vmax !important;
  }
  .HoverAnimation > img {
    height: 16vmax !important;
    width: 16vmax !important;
  }
}
@media screen and (max-width: 600px) {
  .accountleft {
    padding: 2vmax !important;
  }
  .HoverAnimation {
    height: 18vmax !important;
    width: 18vmax !important;
  }
  .HoverAnimation > img {
    height: 18vmax !important;
    width: 18vmax !important;
  }
  .CoverPicDiv {
    height: 250px;
  }
}
